WebApplication1/Connected Services/PokerBotServiceReference/PokerBotService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:55613/PokerBotService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/PokerBot" />
  <xs:element name="GetBotDecision">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/PokerBot" minOccurs="0" name="request" nillable="true" type="q1:BotRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBotDecisionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/PokerBot" minOccurs="0" name="GetBotDecisionResult" nillable="true" type="q2:BotDecisionResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>